
dist/
build/
node_modules/

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

*.env
*.env.*

coverage/
.nyc_output/

.DS_Store


.idea/
.vscode/
*.sublime-workspace
.project
.classpath
.c9/
.settings/
*.launch

.temp/
.tmp/


pids/
*.pid
*.seed
*.pid.lock


report.*.json
